.product__modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 50%;
}

.product__modal {
  box-sizing: border-box;
  position: fixed;
  background-color: white;
  top: 30px;
  width: 600px;
  height: 500px;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__modal h3 {
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-size: 1.3rem;
}

